services:
  # 1. Your existing Web Service
  - type: web
    name: fantasystreams
    env: python
    plan: free
    branch: main
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app:app -w 4 -k gevent --timeout 120 --graceful-timeout 120"
    healthCheckPath: /healthz
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.4
      - key: YAHOO_CONSUMER_KEY
        sync: false
      - key: YAHOO_CONSUMER_SECRET
        sync: false
      - key: FLASK_SECRET_KEY
        generateValue: true
    disks:
      name: db-storage
      mountPath: /var/data/dbs
